.ContentContainer {
    position: relative;
    min-height: 700px;
    padding: 100px 140px;
    z-index: 1;
    &.Flex {
        @include max-width-breakpoint('1024px') {
            flex-direction: column;
            justify-content: flex-start;
        }
    }
    &.Footer {
        min-height: 225px;
        @include max-width-breakpoint('1024px') {
            flex-direction: row;
            justify-content: center;
        }
        .Divider {
            @include max-width-breakpoint('1024px') {
                margin-left: 30px;
                margin-right: 30px;
            }
        }
    }
    &.PokemonCardsContainer {
        min-height: 930px;
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        justify-content: center;
    }
    .TitleImage {
        position: absolute;
        top: calc(0% - 101px);
        left: 0;
        z-index: 3;
        @include max-width-breakpoint('950px') {
            width: 100%;
            top: calc(0% - 85px);
        }
    }
    .PokeballOne {
        position: absolute;
        top: calc(0% - 45px);
        right: 27%;
        z-index: 2;
        @include max-width-breakpoint('768px') {
            position: absolute;
            top: 90px;
            right: 0%;
            z-index: 2;
            width: 80px;
        }
    }
    .PokeballTwo {
        position: absolute;
        top: calc(50% - 45px);
        right: 4%;
        z-index: 2;
    }
    .PokeballThree {
        position: absolute;
        bottom: 20%;
        left: 6%;
        z-index: 2;
    }
    @include max-width-breakpoint('1400px') {
        padding: 100px 100px;
    }
    @include max-width-breakpoint('1300px') {
        padding: 100px 60px;
    }
    @include max-width-breakpoint('1200px') {
        padding: 100px 40px;
    }
    @include max-width-breakpoint('1024px') {
        padding: 40px 40px;
    }
    @include max-width-breakpoint('768px') {
        padding: 40px 30px;
    }
    @include max-width-breakpoint('480px') {
        padding: 40px 10px;
    }
}
