@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

body,
html,
* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 90px;
    line-height: 90px;
    @include bp('mobile') {
        font-size: 50px;
        line-height: 50px;
    }
}

h2 {
    font-size: 45px;
    font-weight: 700;
    @include bp('mobile') {
        font-size: 35px;
    }
}
h3 {
    font-size: 24px;
    font-weight: 300;
    @include bp('mobile') {
        font-size: 18px;
    }
}
h4 {
    font-size: 20px;
    font-weight: 300;
    @include bp('mobile') {
        font-size: 18px;
    }
}

img {
    line-height: 0;
}

.BodyText {
    font-weight: 400;
    font-size: 18px;
    @include bp('mobile') {
        font-size: 20px;
    }
    &.Weight--Light {
        font-weight: 300;
    }
    &.Weight--Medium {
        font-weight: 500;
    }
    &.Weight--Bold {
        font-weight: 700;
    }
    &.Size--Small {
        font-size: 12px;
        @include bp('mobile') {
            font-size: 12px;
        }
    }
    &.Size--Small {
        font-size: 12px;
        @include bp('mobile') {
            font-size: 12px;
        }
    }
    &.Size--Regular {
        font-size: 18px;
        @include bp('mobile') {
            font-size: 20px;
        }
    }
}

.Divider {
    &.Divider--horizontal {
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: #e8e8e8;
        &.Dashed {
            border-bottom-style: dashed;
        }
        &.Black {
            border-bottom-color: #000000;
        }
    }
    &.Divider--vertical {
        border-left-width: 1px;
        border-left-style: solid;
        border-left-color: #e8e8e8;
        &.Dashed {
            border-left-style: dashed;
        }
        &.Black {
            border-left-color: #000000;
        }
    }
}

//font weights
.Weight--Light {
    font-weight: 300;
}
.Weight--Medium {
    font-weight: 500;
}
.Weight--Bold {
    font-weight: 700;
}

//colors
.Red-Background {
    background-color: $color-red;
}
.Blue-Background {
    background-color: $color-blue;
}
.LightGreen-Background {
    background-color: $color-lightgreen;
}
.No-Background {
    background-color: transparent;
}

.Red {
    color: $color-red;
}

.Blue {
    color: $color-blue;
}

.TitleImage.Red path {
    stroke: $color-red;
}

//flex utilities
.Flex {
    display: flex;
}
.JustifyContent--Center {
    justify-content: center;
}
.JustifyContent--SpaceBetween {
    justify-content: space-between;
}
.JustifyContent--SpaceAround {
    justify-content: space-around;
}
.JustifyContent--End {
    justify-content: flex-end;
}
.AlignItems--Center {
    align-items: center;
}
.AlignItems--Baseline {
    align-items: baseline;
}

//margin
.Margin--Top-XS {
    margin-top: 5px;
}
.Margin--Top-S {
    margin-top: 10px;
}
.Margin--Top-M {
    margin-top: 20px;
}
.Margin--Top-L {
    margin-top: 30px;
}
.Margin--Top-XL {
    margin-top: 60px;
}
.Margin--Bottom-XS {
    margin-bottom: 5px;
}
.Margin--Bottom-S {
    margin-bottom: 10px;
}
.Margin--Bottom-M {
    margin-bottom: 20px;
}
.Margin--Bottom-L {
    margin-bottom: 30px;
}
.Margin--Bottom-XL {
    margin-bottom: 60px;
}
.Margin--Left-XS {
    margin-left: 5px;
}
.Margin--Left-S {
    margin-left: 10px;
}
.Margin--Left-M {
    margin-left: 20px;
}
.Margin--Left-L {
    margin-left: 30px;
}
.Margin--Left-XL {
    margin-left: 60px;
}
.Margin--Right-XS {
    margin-right: 5px;
}
.Margin--Right-S {
    margin-right: 10px;
}
.Margin--Right-M {
    margin-right: 20px;
}
.Margin--Right-L {
    margin-right: 30px;
}
.Margin--Right-XL {
    margin-right: 60px;
}

//height and widths
//would prefer a more elegant solution than hardcoding each pixel value if given the time

.Height-60px {
    height: 60px;
}
.Height-100px {
    height: 100px;
}
.Height-170px {
    height: 170px;
}
.Height-225px {
    height: 225px;
}
.Height-320px {
    height: 320px;
}

.Width-120px {
    width: 120px;
}
.Width-1px {
    width: 1px;
}
.MinWidth-30px {
    min-width: 30px;
}
.MinWidth-120px {
    min-width: 120px;
}

//border radius
.BorderRadius-20px {
    border-radius: 20px;
}
.BorderRadius-40px {
    border-radius: 40px;
}
.BorderRadius-Top-20px {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.BorderRadius-Bottom-20px {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.BorderRadius-Top-40px {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
.BorderRadius-Bottom-40px {
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.Capitalise {
    text-transform: capitalize;
}
